@tailwind utilities;

body {
  background: linear-gradient(
    135deg,
    #0f172a,
    #111827,
    #1e293b
  );

  color: white;

  min-height: 100vh;

  font-family: Arial, sans-serif;
}

.glass {
  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(16px);

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow:
    0 8px 32px rgba(0,0,0,0.3);

  border-radius: 20px;
}